@import "partials/variables";
@import "partials/menu";
@import "partials/base";
@import "partials/colors";
@import "partials/photos";
@import "partials/products";
@import "partials/buttons";
@import "partials/details";
@import "partials/footer";
@import "partials/index";
@import "partials/cart";
@import "partials/forms";
@import "partials/messages";
@import "partials/loader";
