.container__cart {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin: 50px 0;
  @media screen and (min-width: $breakpoint-desktop) {
    margin: 100px 0;
  }
  &__total {
    margin-bottom: 50px;
  }

  p {
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: $brown;
  }
}
