footer {
  background-color: $grey;
  flex-shrink: 0;
}

div.footer.container {
  margin: 30px auto !important;
}

.footer {
  text-align: center;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

.some {
  margin: 0 auto;
  @media screen and (min-width: $breakpoint-desktop) {
    display: flex;
    justify-content: space-between;
  }
  img {
    width: 50px;
  }
}
