.login__flex,
.add__flex,
.edit__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
    margin: 0 auto;
  }
  &__info {
    @media screen and (min-width: $breakpoint-desktop) {
      margin-bottom: 50px;
    }
  }

  &__form {
    margin: 50px 0;

    input,
    textarea {
      width: 100%;
      @media screen and (min-width: $breakpoint-tablet) {
        width: 400px;
      }
      height: 30px;
      border-radius: 10px;
      border: 2px solid $accent;
      margin: 10px 0 20px;
    }

    textarea {
      height: 300px;
    }

    label {
      font-size: 20px;
    }
  }
  &__image {
    display: none;
    @media screen and (min-width: $breakpoint-desktop) {
      display: block;
      margin: 50px 0;
      max-width: 700px;
      object-fit: cover;
    }
  }
  &__image img {
    width: 100%;
  }
  &__button {
    margin-top: 20px;
  }
}
