.frontpage__news {
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
    }

    &__image {
      width: 100%;
      object-fit: cover;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 465px;
        height: 465px;
      }
    }

    &__text p {
      font-size: 22px;
    }
  }
}

.section {
  margin-bottom: 30px;

  &__grey {
    background-color: $grey;
  }

  &__brown {
    background-color: $brown;
  }
  &__beige {
    background-color: $beige;
  }
}

.section-color__beige {
  height: 200px;
  background-color: $beige;
}
