.frontpage__news {
  &__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    @media screen and (min-width: $breakpoint-desktop) {
      flex-direction: row;
    }

    &__image {
      width: 100%;
      object-fit: cover;

      @media screen and (min-width: $breakpoint-desktop) {
        width: 465px;
        height: 465px;
      }
    }

    &__text p {
      font-size: 22px;
    }
  }
}

.section {
  margin-bottom: 30px;

  &__grey {
    background-color: $grey;
  }
  &__beige {
    background-color: $beige;
  }
  &__photo {
    background-image: url("../images/index-photo-2.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
    object-position: bottom;
    width: 100%;

    &__text {
      padding: 20px;
      width: 200px;
      @media screen and (min-width: $breakpoint-desktop) {
        position: relative;
        left: 300px;
        width: 520px;
        height: 320px;
        padding: 50px;
        margin: 200px auto;
      }
      background-color: rgba(183, 133, 110, 0.73);
    }
  }
}
