.menu {
  background-color: $light;
  &__content {
    display: block;
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;

    @media screen and (min-width: $breakpoint-desktop) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;
      max-width: 1200px;
      padding: 35px 0;
    }
    @media screen and (min-width: $breakpoint-fullwidth) {
      width: 100%;
    }
  }
  &__logo {
    font-size: 20px;
    letter-spacing: 10px;
    @media screen and (min-width: $breakpoint-tablet) {
      font-size: 28px;
    }
  }
  &__mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__2 {
      width: 200px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 40px;
    }
  }
  &__links {
    position: relative;
    font-size: 16px;
    @media screen and (min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 50px;

      font-size: 18px;
    }

    :hover {
      color: $brown;
    }
  }
  &__cart {
    width: 30px;
  }
  a {
    display: block;
    text-transform: uppercase;
    font-family: $font-primary;
    text-decoration: none;
    color: $dark;
    margin: 20px 0;
    @media screen and (min-width: $breakpoint-desktop) {
      margin: 0;
    }
  }

  &__icon {
    width: 30px;
    cursor: pointer;
    @media screen and (min-width: $breakpoint-desktop) {
      display: none;
    }
  }
}

.cart__icon__container {
  position: relative;
  @media screen and (min-width: $breakpoint-desktop) {
    margin-top: 0;
  }
}

.cart__counter {
  display: none;
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-family: "Playfair Display", serif;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $accent;
  text-align: center;
}
