.container {
  &__products,
  &__might-like__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @media screen and (min-width: $breakpoint-desktop) {
      gap: 30px;
    }

    @media screen and (min-width: $breakpoint-fullwidth) {
      gap: 112px;
    }
    a {
      text-decoration: none;
    }
  }
}

.product {
  margin: 20px auto;
  max-width: 280px;
  @media screen and (min-width: $breakpoint-tablet) {
    max-width: 290px;
  }

  @media screen and (min-width: $breakpoint-desktop) {
    max-width: 325px;
  }

  &__text {
    color: $dark;
    text-transform: uppercase;
  }
  &__thumbnail {
    width: 280px;
    height: 300px;
    object-fit: cover;
    margin: 0 auto;
    @media screen and (min-width: $breakpoint-tablet) {
      width: 325px;
    }
  }
  &__colors {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  &__info__flex {
    display: flex;
    justify-content: space-between;
  }
  &__cart {
    cursor: pointer;
    width: 30px;
  }
}

.inCart {
  background-image: url("../../images/icons/cart-filled.svg");
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  @media screen and (min-width: $breakpoint-desktop) {
    flex-direction: row;
    margin-bottom: 50px;
  }
  button {
    width: auto;
    font-size: 14px;
    padding: 10px 20px;
    margin: 10px 0;
    @media screen and (min-width: $breakpoint-desktop) {
      width: 150px !important;
    }
  }
}

.category {
  cursor: pointer;
}

.category:hover {
  color: $light;
}

.search {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 2px solid $accent;
  margin: 10px 0 20px;
  @media screen and (min-width: $breakpoint-tablet) {
    width: 500px;
    margin-bottom: 50px;
  }
}

.product__thumbnail img {
  width: 100%;
}
