// colors

$light: #f7f3ef;
$dark: #1f1a10;
$grey: #e6e5e3;
$beige: #eadcce;
$accent: #efc3b4;
$brown: #b7856e;

// fonts
$font-primary: "Montserrat", sans-serif;
$font-secondary: "Playfair Display", serif;

// Screen sizes

$breakpoint-tablet: 480px;
$breakpoint-desktop: 768px;
$breakpoint-fullwidth: 1250px;
